In [ ]:
keyword_list = ["機械学習", "AI", "Deep *Learning", "Machine *Learning", "人工知能"]

In [9]:
import json
import glob
import re
import pandas as pd

file_list = glob.glob("./data/*.json")

dict_keyword_num = {}
for keyword in keyword_list:
    dict_keyword_num[keyword] = 0

dict_interest_ml = {}
dict_interest_ml["pos"] = 0
dict_interest_ml["neg"] = 0


for file_name in file_list:
    json_file = open(file_name, "r")
    json_dict = json.load(json_file)
    
    users = json_dict["users"]
    
    for user in users:
        interest_flg = False
        
        for keyword in keyword_list:
            if(re.search(keyword, user["description"]) is not None):
                dict_keyword_num[keyword] += 1
                interest_flg = True

        if interest_flg is True:
            dict_interest_ml["pos"] += 1
        else:
            dict_interest_ml["neg"] += 1
        

# 機械学習興味フォロワー
df_interest = pd.DataFrame(columns=['interest', 'user_number'])
df_interest = df_interest.append(pd.DataFrame({'interest': ["pos"], 'user_number': dict_interest_ml["pos"]}), ignore_index=True)
df_interest = df_interest.append(pd.DataFrame({'interest': ["neg"], 'user_number': dict_interest_ml["neg"]}), ignore_index=True)


# キーワード一致フォロワー数(重複あり)
df_keyword = pd.DataFrame(columns=['category', 'user_number'])
for keyword in keyword_list:
    df_keyword = df_keyword.append(pd.DataFrame({'category': [keyword], 'user_number': [dict_keyword_num[keyword]]}), ignore_index=True)

In [10]:
df_interest = df_interest.sort_values(by='user_number', ascending=False)
print(df_interest.shape)
df_interest.head(20)

(2, 2)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>interest</th>
      <th>user_number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>neg</td>
      <td>1701</td>
    </tr>
    <tr>
      <th>0</th>
      <td>pos</td>
      <td>265</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
df_keyword = df_keyword.sort_values(by='user_number', ascending=False)
print(df_keyword.shape)
df_keyword.head(20)

(5, 2)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category</th>
      <th>user_number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>機械学習</td>
      <td>159</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AI</td>
      <td>56</td>
    </tr>
    <tr>
      <th>4</th>
      <td>人工知能</td>
      <td>39</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Machine *Learning</td>
      <td>35</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Deep *Learning</td>
      <td>31</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
sns.set(font="IPAexGothic")

plot = sns.barplot(x='name', y='followers_count', data=df.head(50))

for item in plot.get_xticklabels():
    item.set_rotation(90)

sns.plt.show()

# save plot
fig = plot.get_figure()
fig.tight_layout()
fig.savefig('followers.png', dpi=100, figsize=(8, 10))